---
layout: shell
title: Galerie
---

		<!-- Main Wrapper -->
		<div id="main-wrapper">
        	<link rel="stylesheet" href="css/gallery.css" />
        	<link rel="stylesheet" href="css/photoswipe.css" />
			<section id="content" class="container">
				<header>
					<h2>Galerie</h2>
				</header>
                <p>Die moderne Metallgestaltung verbindet altes Handwerk mit neuen Herstellungsverfahren. Wir können Ihnen eine große Bandbreite an Gestaltungsmöglichkeiten anbieten: klassich bis modern, schlicht bis aufwändig, funktional und dekorativ. Im Innen- wie im Außenbereich fügen sich unsere Geländer, Zäune, Bauteile, Möbel und Accessoires stimmig ins Ambiente der Umgebung ein. Mit unseren gestalteten Metallobjekten bringen wir Zweck, Form und Material in Harmonie.
</p>


				<h2>Treppen und Treppengeländer</h2>
                <nav class="pat-gallery" data-pat-gallery="hide-overlay: 0">
                {% for image in site.data.treppen %}
                <a href="gallery/{{ image.datei }}.jpg"><img src="gallery/{{ image.datei }}_thumb.jpg" title="{{ image.name }}" ></a>
                {% endfor %}
                </nav>
				
				<h2>Balkone und Balkongeländer</h2>
                <nav class="pat-gallery" data-pat-gallery="hide-overlay: 0">
                {% for image in site.data.balkone %}
                <a href="gallery/{{ image.datei }}.jpg"><img src="gallery/{{ image.datei }}_thumb.jpg" title="{{ image.name }}" ></a>
                {% endfor %}
                </nav>
				
				<h2>Handläufe</h2>
                <nav class="pat-gallery" data-pat-gallery="hide-overlay: 0">
                {% for image in site.data.handlaeufe %}
                <a href="gallery/{{ image.datei }}.jpg"><img src="gallery/{{ image.datei }}_thumb.jpg" title="{{ image.name }}" ></a>
                {% endfor %}
                </nav>

				<h2>Tore</h2>
                <nav class="pat-gallery" data-pat-gallery="hide-overlay: 0">
                {% for image in site.data.tueretore %}
                <a href="gallery/{{ image.datei }}.jpg"><img src="gallery/{{ image.datei }}_thumb.jpg" title="{{ image.name }}" ></a>
                {% endfor %}
                </nav>
				
				<h2>Zäune</h2>
                <nav class="pat-gallery" data-pat-gallery="hide-overlay: 0">
                {% for image in site.data.zaeune %}
                <a href="gallery/{{ image.datei }}.jpg"><img src="gallery/{{ image.datei }}_thumb.jpg" title="{{ image.name }}" ></a>
                {% endfor %}
                </nav>
								
				<h2>Möbel und Accessoires</h2>
                <nav class="pat-gallery" data-pat-gallery="hide-overlay: 0">
                {% for image in site.data.moebelaccessoires %}
                <a href="gallery/{{ image.datei }}.jpg"><img src="gallery/{{ image.datei }}_thumb.jpg" title="{{ image.name }}" ></a>
                {% endfor %}
                </nav>
				
				<h2>Grabgestaltung</h2>
                <nav class="pat-gallery" data-pat-gallery="hide-overlay: 0">
                {% for image in site.data.grabgestaltung %}
                <a href="gallery/{{ image.datei }}.jpg"><img src="gallery/{{ image.datei }}_thumb.jpg" title="{{ image.name }}" ></a>
                {% endfor %}
                </nav>

				<h2>Kirchen und Denkmäler</h2>
                <nav class="pat-gallery" data-pat-gallery="hide-overlay: 0">
                {% for image in site.data.kirchendenkmaeler %}
                <a href="gallery/{{ image.datei }}.jpg"><img src="gallery/{{ image.datei }}_thumb.jpg" title="{{ image.name }}" ></a>
                {% endfor %}
                </nav>

				<h2>Verschiedenes</h2>
                <nav class="pat-gallery" data-pat-gallery="hide-overlay: 0">
                {% for image in site.data.verschiedenes %}
                <a href="gallery/{{ image.datei }}.jpg"><img src="gallery/{{ image.datei }}_thumb.jpg" title="{{ image.name }}" ></a>
                {% endfor %}
                </nav>
                
        	</section>
            
		</div>
