				<!-- Footer -->
					<div id="footer" class="container">
						<header>
							<h2>Nehmen Sie Kontakt zu uns auf!</h2>
						</header>
                        <p>Rufen Sie uns ganz unverbindlich an oder schreiben Sie uns eine Email. In der Galerie finden Sie Arbeitsbeispiele, die aber nie vollständig sein können. Wir freuen uns auf Ihre Anforderungen!</p>
    					
                        <a href="mailto:info@johannespilz.de" class="button button-big button-alt">Fragen Sie uns einfach…</a>
                        
						<ul class="contact">
							<li><a href="#" class="icon icon-facebook"><span>Facebook</span></a></li>
							<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
							<!--li><a href="#" class="icon icon-google-plus"><span>Google+</span></a></li-->
							<!--li><a href="#" class="icon icon-linkedin"><span>LinkedIn</span></a></li-->
							<li><a href="files/Pilz_Metallgestaltung.pdf" class="icon icon-download" title="Broschüre Pilz Metallgestaltung"><span>Download Broschüre</span></a></li>
							<li><a href="mailto:info@johannespilz.de" class="icon icon-envelope"><span>Email</span></a></li>
						</ul>
					</div>
				<!-- /Footer -->

				<!-- Copyright -->
					<div id="copyright" class="container">
						&copy; 2014 Johannes Pilz | <a href="impressum.html">Impressum</a> | <a href="kontakt.html">Kontakt</a> 
					</div>
				<!-- /Copyright -->