<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!-->

<html class="no-js" lang="en">
<!--<![endif]-->
	<head>
        <meta content="IE=Edge" http-equiv="X-UA-Compatible">
        <meta charset="utf-8">
		<title>{% if page.title %} {{ page.title }}— {% endif %}Johannes Pilz Metallgestaltung</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
						
				<!-- Header -->
					<div id="header" class="container">
                        {% include header.html %}
					</div>

			</div>
            
            {{ content }}
            
    		<!-- Footer Wrapper -->
    			<div id="footer-wrapper">

    				<!-- Footer -->
    					<div id="footer" class="container">
    						<header>
    							<h2>lorem ipsum dolor sit amet</h2>
    						</header>
    						<p>Das Schmiedehandwerk zeichnet sich in allen Epochen durch sein breites Arbeitsspektrum aus. Und seit jeher nutzt der Schmied nicht nur sein technisches, sondern auch sein gestalterisches Können.</p>

    <p>In unserem Betrieb lebt diese Tradition fort. Die moderne Metallgestaltung verbindet altes Handwerk mit neuen Herstellungsverfahren. So können wir Ihnen eine große Bandbreite an Gestaltungsmöglichkeiten anbieten: klassisch bis modern, schlicht bis aufwändig, funktional und dekorativ.</p>

    <p>Metall ist vielseitig, anpassungsfähig und wertbeständig. Mit Metall ist vieles machbar. Davon sollen Ihnen die folgenden Seiten einen Eindruck vermitteln.</p>
    						<ul class="contact">
    							<li><a href="#" class="icon icon-facebook"><span>Facebook</span></a></li>
    							<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
    							<!--li><a href="#" class="icon icon-google-plus"><span>Google+</span></a></li-->
    							<!--li><a href="#" class="icon icon-linkedin"><span>LinkedIn</span></a></li-->
    							<li><a href="Pilz_Metallgestaltung.pdf" class="icon icon-download" title="Broschüre Pilz Metallgestaltung"><span>Download Broschüre</span></a></li>
    							<li><a href="mailto:info@johannespilz.de" class="icon icon-envelope"><span>Email</span></a></li>
    						</ul>
    					</div>
    				<!-- /Footer -->

    				<!-- Copyright -->
    					<div id="copyright" class="container">
    						&copy; 2014 Johannes Pilz | <a href="#">Impressum</a> | <a href="#">Kontakt</a> 
    					</div>
    				<!-- /Copyright -->

    			</div>

    	</body>
    </html>            